@media (max-width: 800px) {
    h1 {
        font-size: 2rem !important;
    }

    h2 {
        font-size: 2rem !important;
    }

    nav {
        position: fixed;
        min-height: unset !important;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, .7);
        right: 0;
        margin: 10px !important;
    }
    nav:not(:focus-within){
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, .5);
        background: transparent !important;
    }
    nav:not(:focus-within) #nav-items {
        height: unset !important;
        min-height: unset !important;
        padding: unset !important;
    }

    nav:not(:focus-within) .nav-item:not(#hamburger) {
        display: none;
    }

    .page-content {
        margin-top: 50px !important;
        width: 100% !important;
        min-width: unset !important;
    }

    input[type="search"] {
        padding-left: unset !important;
        min-width: none !important;
    }

    .search-input::before {
        content: unset !important;
    }

    toggle {
        min-width: calc(100% - 2rem);
    }
}

@media (max-width: 450px) {
    .popup .buttons {
        flex-direction: column;
    }
}